<div class="subject-index" >
  <div class="jumbotron col-xs-12">
    <div class="col-xs-8 col-xs-offset-2">
      <img class="col-xs-4" src= <%= @course.link_image %>>
      <div class="text-left col-xs-8 ">
        <h1><%= t "the" %> <%= @course.name %> </h1>
        <p><%= @course.description %></p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <h2><%= t "sub_of_cou" %></h2>
      </div>
      <div class="col-sm-6">
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= t "sub_name" %></th>
          <th><%= t "descrip" %></th>
        </tr>
      </thead>
      <tbody>
        <% @subjects.each do |s| %>
        <tr>
          <td><%= s.name %></td>
          <td><%= s.description %> </td>
          <td>
            <%= link_to t("learn"), course_subject_path(@course,s),
              class: "btn btn-primary btn-block glyphicon glyphicon-education pull-right"%>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
