<section id ="courses" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="https://i.imgur.com/CMVmDgA.jpg" class="img-responsive">
          <figcaption>
            <h3> <%= t "app.rails" %></h3>
            <p><%= t "app.description" %></p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="https://i.imgur.com/JNRxnyr.png" class="img-responsive">
          <figcaption>
            <h3> <%= t "app.javaSpring" %></h3>
            <p><%= t "app.description" %></p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="https://i.imgur.com/wncViJS.jpg" class="img-responsive">
          <figcaption>
            <h3> <%= t "app.php" %> </h3>
            <p><%= t "app.description" %></p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="https://i.imgur.com/DVvAyKD.png" class="img-responsive">
          <figcaption>
            <h3> <%= t "app.javascript" %> </h3>
            <p><%= t "app.description" %></p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="https://i.imgur.com/gfmYct8.jpg" class="img-responsive">
          <figcaption>
            <h3> <%= t "app.android" %> </h3>
            <p><%= t "app.description" %></p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="https://i.imgur.com/miBKJc9.jpg" class="img-responsive">
          <figcaption>
            <h3> <%= t "app.iOs" %> </h3>
            <p><%= t "app.description" %></p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
    </div>
  </div>
</section>
