<div class="jumbotron">
  <div class="text-center">
    <h1><%= t "we_have" %> <%= @courses.size %> <%= t "cou" %></h1>
    <p><%= t "click_cou" %></p>
  </div>
</div>

<div class="container">
  <h2><%= t "list_cou" %></h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t "cou_name" %></th>
        <th><%= t "total_time" %></th>
        <th><%= t "descrip" %></th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.name %></td>
          <td><%= course.total_time %></td>
          <td><%= course.description %> </td>
          <td>
            <%= form_for UserCourse.create do |f|%>
              <%= f.hidden_field :course_id, value: course.id %>
              <%= f.submit(t("learn"), class: "btn btn-primary btn-block glyphicon glyphicon-education pull-right") %>
            <%end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
