<%= link_to t("users.show.back"),  course_subject_path(@course, @subject)%><hr/>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default session">
        <div class="panel-heading">
          <h3 class="text-center">
            <%= @subject.name + ": " + @subject.description %>
          </h3>
        </div>
        <div class="panel-body">
          <%= form_for @report, url: course_subject_reports_path(@course, @subject), method: :post do |f|%>
            <%= f.text_area :content, class: "form-control", placeholder: t("report.title")%> <br/>
            <%= f.submit t("report.add"), class: "btn btn-primary btn-lg btn-block"%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
